@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.wrapp-header {
	width: 1200px;
	margin: 0px auto;
}

.top-header {
	background: #1c1c1c;
	height: 60px;
}

.nav-epl .top-header {
    background: #37033b;
}

.top-header .left-header {
	float: left;
}

.top-header .left-header .box-1 {
	width: 500px;
	float: left;
}

.top-header .left-header .box-1 .logo {
	display: block;
	width: 86px;
	float: left;
	margin-right: 75px;
	margin-top: 6px;
}

.top-header .left-header .box-search {
	width: 336px;
	float: left;
	position: relative;
	margin-top: 15px;
}

.top-header .left-header .box-search .text {
	width: 100%;
	border: 1px solid #353535;
	background: #1f1f1f;
	height: 30px;
	padding: 0 45px 2px 12px;
	color: #626262;
	border-radius: 7px;
	outline: none!important;
	font-family: 'Roboto-Light';
	font-size: 14px;		 
}

.box-search .text::-webkit-input-placeholder {
  color: #626262;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.box-search .text::-moz-placeholder {
  color: #626262;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.box-search .text:-ms-input-placeholder {
  color: #626262;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.box-search .text:-moz-placeholder { 
  color: #626262;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}


.top-header .left-header .box-search .submit {
	display: inline-block;
	width: 35px;
	height: 29px;
	background: #434343;
	border: none;
	position: absolute;
	right: 0;
	bottom: 1px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	outline: none!important;
}

.top-header .left-header .box-search:before {
	content: '';
	position: absolute;
	top: 7px;
	right: 10px;
	width: 16px;
	height: 17px;
	background: url(https://lh4.googleusercontent.com/-XTnjAryckeU/WZp7oPbsiXI/AAAAAAAADyw/La3QiIWzSE8rlcwyIhunweVnIscAEw-2ACKgBGAs/s1600/icon-search.png);
	background-size: cover;				
	display: inline-block;
	z-index: 10;
	cursor: pointer;
}

#banner{
	margin-top: 96px!important;
}


.top-header .left-header .box-2 {
	float: left;
	margin-left: 17px;
}

.top-header .left-header .box-2 ul {
	overflow: hidden;
	height: 60px;
	margin-bottom: 0;
}

.top-header .left-header .box-2 li {
	float: left;
}

.top-header .left-header .box-2 li a {
	height: 60px;
	/*border-left: 1px solid #262626;*/
	transition: 300ms;
	display: block;
	/*padding: 0 17px 0 5px;*/
}

.top-header .right-header {
	float: right;
	height: 60px;
}

.top-header .right-header > ul > li {
	float: left;
	margin-left: 20px;
	height: 100%;
}

.top-header .right-header li span,
.top-header .right-header li a {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #acacac;
	transition: 300ms;
}

.top-header .right-header li a:hover {
	color: #f17009;
}

.top-header .right-header li:first-child {
	margin-left: 0;
}

.nav-epl .top-header .left-header .box-2 li:hover{
	background: #55055b;
}

.nav-epl .bot-header .list-menu li.active a, .nav-epl .bot-header .list-menu li a:hover {
    color: #8c0ec1;
}

.nav-epl .top-header .left-header .box-search .text{
	background: #37083a;
    border: 1px solid #510757;
    color: #b110be;
}

.nav-epl .box-search .text::-webkit-input-placeholder {
  color: #b110be;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.nav-epl .box-search .text::-moz-placeholder {
  color: #b110be;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.nav-epl .box-search .text:-ms-input-placeholder {
  color: #b110be;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.nav-epl .box-search .text:-moz-placeholder { 
  color: #b110be;
  font-family: 'Roboto-Light';
  font-size: 13px;
  font-style: italic;
}

.nav-epl .top-header .right-header .text-hover:hover {
    background: #55055b;
}

.nav-epl .dropdown-area .dropdown-menu:after {
    background: url(https://lh4.googleusercontent.com/-6nC1KCMT93U/WZp73sLz5fI/AAAAAAAADy8/cf4A3_jl5fIQ5oARm-s54fj6R2-BRWMCgCKgBGAs/s1600/arrow-top-1.png) no-repeat;
}

.nav-epl .top-header .left-header .box-search .submit{
	background: #7c0885;
}

.nav-epl .bot-header {
    border-bottom: 1px solid #8c0ec1;
}

.nav-epl .bot-header {
    background: #f9f9f9;
}

.top-header .left-header .box-2 li:hover {
	background: #141414;
}

.top-header .left-header .box-2 span {
	display: block;
}

.top-header .left-header .box-2 .ob-1 a {
	padding-left: 6px;
}

#player-wrapper{
	padding-top: 96px!important;
	height: auto;
}

.top-header .left-header .box-2 .ob-1 span {
	padding-right: 15px;
	padding-left: 0;
	width: 120px;
	height: 60px;
	background: url(https://lh4.googleusercontent.com/-XfZkgiWsx1A/WZp8OPKKsII/AAAAAAAADzI/SHvmamkRX7o_Se34rKan9uXxvsvUkhgpQCKgBGAs/s1600/danet_menu.png) no-repeat 0 70%;
}

/*.top-header .left-header .box-2 .ob-1 span:hover {
	background: url(../img/menus/take-me-out-act.png) no-repeat 0 70%;
}*/

.top-header .left-header .box-2 .ob-2 span {
	width: 130px;
	height: 60px;
	background: url(../img/menus/u-20.png) no-repeat 0 50%;
}

.top-header .left-header .box-2 .ob-3 span {
	width: 80px;
	height: 60px;
	background: url(https://lh4.googleusercontent.com/-VDsq4nvR_KE/WZp8gaOQ0EI/AAAAAAAADzU/f_cNfdcsbdAEQ8bhLdF4Zw7jQpAmOFAoACKgBGAs/s1600/premier-league.png) no-repeat 0 50%;
}

.top-header .left-header .box-2 .ob-3 span:hover {
	background: url(https://lh4.googleusercontent.com/-VDsq4nvR_KE/WZp8gaOQ0EI/AAAAAAAADzU/f_cNfdcsbdAEQ8bhLdF4Zw7jQpAmOFAoACKgBGAs/s1600/premier-league.png) no-repeat 0 50%;
}

.top-header .right-header > ul {
	height: 60px;
/*        new style doanvh*/
/*        list-style: none;*/
}

.top-header .right-header li a {
	display: block;
	height: 100%;
}

.top-header .right-header li span {
	text-align: center;
}

/*.top-header .right-header li:nth-child(1) span {
	display: inline-block;
	width: 31px;
	height: 25px;
	background: url(../images/icon-gif.png) no-repeat;
	position: relative;
	top: -6px;
	right: -2px;
}

.top-header .right-header li:nth-child(2) a span {
	display: inline-block;
	width: 50px;
	height: 19px;
	background: url(../images/icon-tv.png) no-repeat;
	position: relative;
}*/
.top-header .right-header .action {
	padding-top: 21px;
}

.top-header .right-header .text-hover {
	width: 50px;
	text-align: center;
	padding-top: 13px;
}

.top-header .right-header .text-hover span {
	display: none;
	line-height: 1.3em;
}

.top-header .right-header .text-hover:hover {
	text-decoration: none;
}

.top-header .right-header .text-hover:hover span {
	display: block;
}

.top-header .right-header .text-hover:hover:after {
	display: none;
}

.top-header .right-header .text-hover {
	position: relative;
}

.top-header .right-header .text-hover:after {
	content: '';
	position: absolute;
}

.top-header .right-header .text-hover-1:after {
	display: inline-block;
	width: 31px;
	height: 25px;
	background: url(https://lh3.googleusercontent.com/-JZiSGbzufo0/WZp81PHW0oI/AAAAAAAADzk/IPJF_8xIz8kVKAcl7z_rXEQjaOm02UMCwCKgBGAs/s1600/icon_khuyenmai.png) no-repeat;
	top: 16px;
	left: 12px;
}

.top-header .right-header .text-hover-2:after {
	display: inline-block;
	width: 27px;
	height: 19px;
	background: url(https://lh3.googleusercontent.com/-sYIDgmKBjSs/WZp81P2jn1I/AAAAAAAADzk/ADuqnZZGV0s588U6dak2npjiEqn8-OIGwCKgBGAs/s1600/icon-tv.png) no-repeat;
	top: 21px;
	left: 12px;
}

.top-header .right-header li:nth-child(2) {
	margin-left: 0;
}

.bot-header {
	background: #3c3c3c;
	overflow: hidden;
	border-bottom: 1px solid #f17009;
	clear: both;
}

.bot-header .list-menu {
	float: left;
	overflow: hidden;
	height: 35px;
	line-height: 33px;
	margin-bottom: 0;
}

.top-header .right-header .text-hover:hover {
	background: #141414;
}

.bot-header .list-menu li {
	float: left;
	margin-right: 35px;
	position: relative;
}

.bot-header .list-menu li.active :after {
	content: '';
	position: absolute;
	width: 8px;
	height: 6px;
	background: url(https://lh4.googleusercontent.com/-iS5vxTqAYGk/WZp9ONBj_KI/AAAAAAAADz0/QHs8KUhgieQ8xiChojjPviMjkeuIgrenQCKgBGAs/s1600/arrow.png) no-repeat;
	left: 50%;
	margin-left: -4px;
	bottom: -3px;
}

.bot-header .list-menu li.active a {
	color: #f17009;
}

.bot-header .list-menu li:last-child {
	margin-right: 0;
}

.bot-header .list-menu li a {
	font-family: 'Roboto-Regular';
	font-size: 14px;
	color: #666666;
}

.bot-header .list-menu li a:hover {
	color: #fff;
	text-decoration: none;
}

.bot-header .box-label {
	float: right;
}

.bot-header .box-label img {
	margin-top: 6px;
	max-width: 60px;
}

/*.nav-down {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -116px;
}
*/
#header-1{
	height: 96px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.2s ease-in-out;
    min-width: 1200px;
}


.nav-up {
    top: -116px !important;
}

.top-header .right-header > ul > li:nth-child(3) {
		margin-left: 10px;
}

.top-header .right-header .dropdown {
	margin-top: 18px;
}

.dropdown-toggle img {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	cursor: pointer;
}

.dropdown-area {
	margin-left: 15px!important;
}


.dropdown-area .dropdown-menu {
	left: auto;
	right: -18px;
	background: #151515;
	border: 1px solid #3d3d3d;
	top: 150%;
	margin-top: 1px;
}

.dropdown-area .dropdown-menu:after {
	width: 26px;
	height: 16px;
	content: '';
	position: absolute;
	top: -16px;
	right: 15px;
	background: url(https://lh3.googleusercontent.com/-FkOAv_HTVCM/WZp90qsiCPI/AAAAAAAAD0M/iVhzDDnTa8IuEyElOCR4FTG1Wb-djRmlQCKgBGAs/s1600/arrow-top.png) no-repeat;
}

.dropdown-area .dropdown-menu li a {
	color: #fff;
}

.dropdown-area .dropdown-menu>li>a:hover, .dropdown-area .dropdown-menu>li>a:focus {
	background: none;
}

.bot-header .box-label a {
	margin-top: 6.5px;
	display: inline-block;
	width: 70px;
 	height: 23px;
 	background: url(https://lh3.googleusercontent.com/-J5SeVh2JLlw/WZp90jqQIZI/AAAAAAAAD0M/AcpVzhDQOXknX3Umo4T8MsnbErWjF_jPACKgBGAs/s1600/btn_vip_normal.png) no-repeat;
	transition: 300ms;
}

.bot-header .box-label a:hover {
	background: url(https://lh3.googleusercontent.com/-bkISyxJPJbU/WZp90g7w76I/AAAAAAAAD0M/C8gXVc4IxyY6xa3tFgWn8jlkWACqwTMPwCKgBGAs/s1600/btn_vip_hover.png) no-repeat; 
}

/*responsive*/

@media (max-width: 1400px) {
	.top-header .left-header .box-2 {
		margin-left: 10px;
	}

	.top-header .left-header .box-2 li a {
		padding: 0 5px;
	}

	.top-header .right-header > ul > li {
		margin-left: 10px;
	}

	.top-header .right-header li:nth-child(3) {
		margin-left: 0;
	}

	.top-header .left-header .box-2 .ob-1 span {
		background: url(../img/menus/take-me-out.png) no-repeat -7px 70%;
	}

	.top-header .left-header .box-2 .ob-1 span:hover {
		background: url(../img/menus/take-me-out-act.png) no-repeat -7px 70%;
	}

	.top-header .left-header .box-2 .ob-1 a {
		padding-right: 0;
	}
}

#fptplay-container{
	margin: 0 auto;
	width: 1200px;
	min-width: 1200px;
}

.livetv_container{
	margin-top: 52px!important;
}

.ob_2_active {
	background: #141414;
}

.box-label {
	position: relative;
}

.vip_icon_active {
	content: '';
    position: absolute;
    width: 8px;
    height: 6px;
    background: url(https://lh4.googleusercontent.com/-iS5vxTqAYGk/WZp9ONBj_KI/AAAAAAAADz0/QHs8KUhgieQ8xiChojjPviMjkeuIgrenQCKgBGAs/s1600/arrow.png) no-repeat;
    left: 50%;
    margin-left: -4px;
    bottom: -1px
}

.top_menu_logo a img {
	max-height: 50px;
	margin-top: 5px;
}

.top_menu_logo {
	margin-left: 10px;
}